body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #222;
  background-color: #fff;
}

header {
  width: 100%;
  display: block;
  background-color: #363636;
}

nav {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.navbar-logo {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  float: left;
}

nav ul {
  margin: 0 auto;
  padding: 20px;
  list-style: none;
  display: inline;
}

.nav li {
  float: left;
  padding: 10px;
  margin: 0 auto;
}

.nav-login li {
  float: right;
  margin: -10px auto 0 auto;
}

nav li a {
  color: white;
  text-decoration: none;
}

.front {
  width: 100%;
  display: inline-block;
  background-color: #809fff;
}

.dude img {
  float: left;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.action {
  text-align: center;
  width: 500px;
  float: right;
}

.action img {
  padding-top: 30px;
}

.action h1 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.call-to-action {
  width: 40%;
  background-color: #E99002;
  border: 2px solid white;
  border-radius: 9px;
}

.call-to-action a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

.line {
  text-align: center;
  width: 100%;
  display: inline-block;
  background-color: #ffffff;
}

.text {
  width: 100%;
  display: inline-block;
  background-color: #809fff;
}

.partners {
  width: 80%;
  margin: 0 auto;
}

.partners a img {
  width: 100px;
}

.buttons {
  width: 50%;
  margin: 0 auto;
}

.buttons ul {
  list-style: none;
}

.buttons li {
  display: inline;
  background-color: #E99002;
  border-radius: 9px;
  padding: 10px;
  margin: 0 10px;
}

footer {
  display: inline-block;
  width: 100%;
  background-color: #363636;
}

footer ul {
  list-style: none;
}

footer li {
  display: inline;
  float: left;
  margin: 0 10px;
}

footer p {
  float: right;
  padding: 10px;
}

footer li a, p, .buttons li a {
  color: white;
  text-decoration: none;
}